<div class="container margin-top-negative">
  <div class="row">
    <div class="flat-show-card">
      <h1><%= @flat.name%></h1>
      <p class="show-addresses"><%= @flat.address %></p>
    </div>
  </div>
</div>